.logo {
    grid-area: l;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 20px;
}

.logo .back {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #263043;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

nav ul {
    grid-area: u;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    margin: 20px 0px 10px 0px;
    padding-right: 0px;
}

nav ul li {
    padding: 0 10px 0 10px;
    margin-right: 50px;
    font-size: 1.25em;
    font-weight: 500;
}

nav ul li .btn {
    color: white;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

nav ul li .btn:hover {
    color: #1d2634;
}

nav ul li .btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li .btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul a {
    text-decoration: none;
}

#login {
    background-color: #1d2634;
    border-radius: 10px;
    color: white;
    padding: 10px 40px 10px 40px;
    margin-right: 0px;
}

.text {
    color: #9e9ea4;
    font-size: 30;
    font-weight: bold;
}