<!--
  EYE FREE MODEL 3D BY Oscar creativo by OSCAR CREATIVO is licensed under Creative Commons Attribution.
  Juvenile Teratophoneus curriei byrankinstudio is licensed under Creative Commons Attribution.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BRACELTES</title>
    <link rel="stylesheet" href="bracelet.css" />
</head>

<body>
    <header>
        <h1>BRACELETS</h1>
    </header>

    <main id="main-container">
        <div id="container3D"></div>
        <div id="details">
            <div class="id">
                <span class="element">Id: </span>
                <span>12587d56dxkf563</span>
            </div>
            <div class="patient">
                <span class="element">Patient: </span>
                <span>Mr Ahmed Tlili</span>
            </div>
            <div class="date">
                <span class="element">Start Date: </span>
                <span>15/11/2023</span>
            </div>
            <div class="location">
                <span class="element">Location: </span>
                <span>Soliman, Nabeul Tunisia : 36°41′34″N 10°25′39</span>
            </div>
            <div class="status">
                <span class="element">
                    status: 
                </span>
                <span>Alive</span>
            </div>
        </div>
    </main>

    <script type="module" src="bracelet.js"></script>
</body>

</html>