<!--
  EYE FREE MODEL 3D BY Oscar creativo by OSCAR CREATIVO is licensed under Creative Commons Attribution.
  Juvenile Teratophoneus curriei byrankinstudio is licensed under Creative Commons Attribution.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>PATIENTS</title>
    <link rel="stylesheet" href="patients.css" />
</head>

<body>
    <header>
        <h1>PATIENTS</h1>
    </header>

    <main id="main-container">
        <div class="patient">
            <div class="photo">
                <img src="images/aziz.jpg" alt="Ahmed Tlili Photo">
            </div>
            <div class="details">
                <div class="name">
                    <span>Name: </span>
                    <span>Ahmed Tlili</span>
                </div>
                <div class="age">
                    <span>Age: </span>
                    <span>64</span>
                </div>
                <div class="maladie">
                    <span>Medical Conditions: </span>
                    <span>Deep Vein Thrombosis</span>
                </div>
                <div class="date">
                    <span>Since: </span>
                    <span>15/11/2023 12:05:32</span>
                </div>
                <div class="date">
                    <span>To: </span>
                    <span>15/01/2024 12:00:00</span>
                </div>
            </div>
        </div>
        <div class="patient">
            <div class="photo">
                <img src="images/me.jpg" alt="Ahmed Tlili Photo">
            </div>
            <div class="details">
                <div class="name">
                    <span>Name: </span>
                    <span>Touhami Belkhir</span>
                </div>
                <div class="age">
                    <span>Age: </span>
                    <span>53</span>
                </div>
                <div class="maladie">
                    <span>Medical Conditions: </span>
                    <span>Colon Cancer</span>
                </div>
                <div class="date">
                    <span>Since: </span>
                    <span>06/04/2023 10:00:12</span>
                </div>
                <div class="date">
                    <span>To: </span>
                    <span>06/06/2023 10:00:00</span>
                </div>
            </div>
        </div>
    </main>


</body>

</html>